@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf') format('opentype');font-weight: normal;
}


:root {
    --Azul-Claro: #87CEEB;
    --Azul-petróleo: #008080;
    --Azul-Royal: #4169E1;
    --AzulMeia-Noite: #191970;
    --Azul-piscina: #ADD8E6;
    --Azul-Marinho: #000080;
    --Azul-Céu: #87CEEB;
    --Azul-Elétrico: #00FFFF;
    --Azul-Aço: #4682B4;
    --Azul-Turquesa: #40E0D0;
    
    
    --fonte-parão: Arial, Verdane, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-parão);
}

a.externo::after {
    content: '\00A0\1F517';
}

main p {
    margin: 15px 0px;
    text-align: justify;
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 200px;
    text-align: center;
    padding: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header > p {
    font-family: var(--fonte-parão);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav {
    background-color: #4f9cf9;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363) ;
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}
nav > a:hover {
    background-color: #0f74f0;
    color: white;
}
nav ul a:not(.btn)::after{
    content: "";
    background-color: #4f9cf9;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}
nav ul a:hover::after{
    width: 100%;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: #4797f8dc;
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: rgba(255, 255, 255, 0.711);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, #0f74f0, transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: #0f74f0;
    font-weight: bolder ;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: #0f74f0;
    background-color: #0f74f068;
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: #0d67d5;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
    object-fit: cover;
    transition: 0.3s;
}

div.video {
    background-color: #0f74f0;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: #2580ef5a;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h3 {
    background-color: #0f74f0;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: #0f74f0;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
text-decoration: underline;
color: #0f74f0;
}
